<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
    <title><%= t('account.title') %></title>
		<!-- 共通要素のロード：最終的にテンプレートで埋め込むようにしてください -->
		<script type="text/javascript" src="include/head.js"></script>
	</head>
	<body class="bg">
		<div class="container">

		<div class="wrapper"></div>
		<section id="sidebar" class="sidebar"></section>
		<div id="sidebar-opener" class="menu-icon menu-button menu-left"></div>
	  
			<!-- 自分の情報 -->
			<div class="row page" id="profile"></div>
	
			<div id="row-foot"></div>
		</div>

		<!-- 共通要素のロード：最終的にテンプレートで埋め込むようにしてください -->
		<script type="text/javascript" src="include/body-last.js"></script>

  </body>
</html>
