<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>メッセージボックス</title>
		<!-- 共通要素のロード：最終的にテンプレートで埋め込むようにしてください -->
		<script type="text/javascript" src="/include/head.js"></script>
  </head>
  <body class="bg">
    <div class="container">

	<div class="wrapper"></div>
	<section id="sidebar" class="sidebar"></section>
	<div id="sidebar-opener" class="menu-icon menu-button menu-left"></div>
  
		<!-- メッセージボックストップ -->
		<div class="row page" id="msg-list"></div>

		<!-- メッセージ表示:送信メッセージ:返信あり -->
		<div class="row page" id="show-msg-sent"></div>


    </div>

		<!-- 共通要素のロード：最終的にテンプレートで埋め込むようにしてください -->
		<script type="text/javascript" src="/include/body-last.js"></script>
  </body>
</html>
