<!-- ページコンテンツ:この内容がページ部分にロードされます -->
<div class="col-xs-12 page-cont">
    <div class="navi-prev white-icon"></div>
    <div class="row">
	    <div class="head">
        <div class="title"><%= t('guestshowmsg.title') %> </div>
	    </div>
    </div>
    <div class="row">
	    <!-- ハッカソンのプロトからコピー -->
	    <div id="learn" class="energy">
		    <canvas id="learn-graph2" width="250" height="170"></canvas>
		    <canvas id="learn-stage" width="250" height="600"></canvas>
	    </div>
		<div class="msg-action">
      <a href="javascript:app.base.showPage('guest-reply-msg');" type="buttom" class="btn btn-primary"><%= t('guestshowmsg.accept') %></a>
			<a href="javascript:app.base.showPage('guest-reply-msg');" type="buttom" class="btn btn-default"><%= t('guestshowmsg.reject') %></a>
		</div>
    </div>	
</div>

<!-- ページスクリプト -->
<script type="text/javascript">
	//必要なハンドラだけ実装して下さい
	pages["guest-show-msg"]	= {
		 onLoad		:	function(){
			//graphDemo.jsのグラフ表示メソッドをコール
			window.setTimeout(startLearn,800);
		}
		,onShow		:	function(){}
    ,onLeave		:	function(formData){}
	}
</script>

<!-- モックアップ用グラフ -->
<script src="/js/Chart.js"></script>
<script src="http://code.createjs.com/createjs-2013.12.12.min.js"></script>
<script src="/js/graphDemo.js"></script>

