<!-- ページコンテンツ -->
<div class="col-xs-12 page-cont-nobg page-cont-top">
    <div class="subtitle">　<%= t('toppage.subtitle') %></div>
    <div class="title"><%= t('toppage.title') %></div>
</div>
<div class="navi-next"></div>

<!-- ページスクリプト -->
<script type="text/javascript">
	//必要なハンドラだけ実装して下さい
	pages.toppage	= {
		 onLoad		:	function(){}
		,onShow		:	function(){}
		,onLeave		:	function(formData){}
	}
</script>
